:root {
--main-font:'Roboto', sans-serif;
--secondary-font:'Raleway', sans-serif;
--title-dark-theme-color: #ffffff;
--title-light-theme-color: #212121;
--text-description-color: #757575;
--accent-color: #2196F3;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    color: #757575;
}

.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
/* Логотип */
.logo,
.logo-element{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-element {
    color: var(--accent-color);
}
.logo{
    color: #000000
}
/* Header */
.navigation-list-link,
.header-mail-link link,
.header-tel-link link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-light-theme-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus
{
    color: #2196F3;
}

.header-mail-link,
.header-tel-link{
    color: var(--text-description-color);
}
/* Hero section */
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--title-dark-theme-color);
}
.modal-btn{
    font-family: var(--main-font)
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-dark-theme-color);
    border-style: none;
}
/* Преимущества секция */